[submodule "external/moveit/moveit2"]
	path = external/moveit/moveit2
	url = https://github.com/moveit/moveit2.git
	branch = humble
[submodule "external/moveit/launch_param_builder"]
	path = external/moveit/launch_param_builder
	url = https://github.com/PickNikRobotics/launch_param_builder
[submodule "external/moveit/moveit_resources"]
	path = external/moveit/moveit_resources
	url = https://github.com/ros-planning/moveit_resources
	branch = humble
[submodule "external/moveit/moveit_task_constructor"]
	path = external/moveit/moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor.git
	branch = humble
[submodule "external/moveit/moveit_visual_tools"]
	path = external/moveit/moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools
	branch = ros2
[submodule "external/moveit/rosparam_shortcuts"]
	path = external/moveit/rosparam_shortcuts
	url = https://github.com/PickNikRobotics/rosparam_shortcuts
	branch = ros2
[submodule "external/moveit/srdfdom"]
	path = external/moveit/srdfdom
	url = https://github.com/ros-planning/srdfdom.git
	branch = ros2
[submodule "external/moveit/moveit2_tutorials"]
	path = external/moveit/moveit2_tutorials
	url = https://github.com/moveit/moveit2_tutorials
	branch = humble
[submodule "external/openpi"]
	path = external/openpi
	url = git@github.com:KawaharaLab/openpi.git
	branch = tk_grad_finetune
